
.saved-transformer-name {
  display: block;
}

/* text box for writing purpose statement */
.purpose-statement {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  padding: 5px;
  resize: none;
  margin-top: 5px;
  display: block;
  border: solid 1px var(--blue-green);
  border-radius: 3px;
  height: 40px;
  width: 300px;
}

.save-transformer-button {
  margin-top: 5px;
  display: block;
}