.CodeMirror {
  height: 100px;
  border: 1px solid black;
}

.CodeMirror * {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cm-variable {
    color: magenta;
}

.cm-function {
    color: blue;
}
