.CodeMirror {
  height: 100px;
  border: 1px solid var(--blue-green);
  border-radius: 3px;
}

.CodeMirror * {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cm-variable {
    color: magenta;
}

.cm-function {
    color: blue;
}

/* slightly gray out editor when disabled */
.editor-disabled .CodeMirror {
  background-color: rgba(0, 0, 0, 0.07);
}

/* make cursor disappear when disabled */
.editor-disabled .CodeMirror-cursor { 
  display: none !important;
}